<%- include('partials/header.ejs')%>
    <!-- <h1>Mongoose - A Middleman Between Mongo And Your Expree App.</h1> -->
    <a href="/heroes" style="margin-top:60px;display:block">Enter the Hall of Heroes</a>
<%- include('partials/footer.ejs')%>
