<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:200,400,700&display=swap">
  </head>
  <body>
      <h1><%= title %></h1>
